<ion-header>
  <ion-toolbar>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!username || !password">Registrati</ion-button>
  </form>
</ion-content>
